body{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif
}
.txt1{
    margin:  240px;
    
    padding: 50px;
    padding-left: 20px;
    padding-right: 5px;
    
}
.link1{
    text-decoration: none;
    color: black;
}
.imagemcomp{
    padding: 100px;
    padding-left: 750px;
    margin-bottom: 200px;
    width: 1500px ;
}
.text{
    border: 6px solid #2c0606;
    margin-right: 750px;
}
.text2{
    border: 6px solid #380062;
    margin-top: 500px;
    margin-right: 750px;
}